@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

//pour le panel
@keyframes slideIn {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}

//pour le panel
@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1000px);
    }
}

//Animation de surlignement dynamique
@keyframes PointToBar {
    0% {
        transform: scaleX(0);
    }

    30% {
        transform: scaleX(1);
        opacity: 1;
        transform-origin: left;
    }

    31% {
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
        ;
    }
}

@keyframes arrowHoverTitle {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(5px);
    }
}

@keyframes arrowHoverTitleReverse {
    0% {
        
        transform: translateY(5px) rotate(180deg);
    }

    100% {
        transform: translateY(0px) rotate(180deg);
    }
}



:root {
    --bg: whitesmoke;
    --text-inBoxfont: white;
    --text-inHeadFont: white;
    --simpleText: rgb(0, 0, 0);
    --bgBox: black;
    --gradient-color1: linear-gradient(to right, darkviolet, rgb(0, 191, 255));
    --hover-color1: rgb(0, 191, 255);

    body {

        transition: background-color 0.5s;
        margin: 0;
        font-family: "League Spartan";
        background-color: var(--bg);
        color: var(--simpleText);

        header {
            position: sticky;
            color: var(--text-inHeadFont);
            background-color: var(--bgBox);

            &>nav>ul {

                list-style-type: none;
                margin: 0;
                padding: 10px;
                display: flex;
                justify-content: space-around;

                &>li {
                    position: relative;

                    &:hover {
                        color: var(--hover-color1);
                        transition: 0.2s;
                    }

                    &:hover::after {

                        //position de la barre
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 100%;

                        //style de la barre
                        min-height: 4px;
                        background: var(--gradient-color1);

                        //animation de la barre
                        transform: scaleX(0) translateX(0);
                        transform-origin: left;
                        animation: PointToBar 0.7s ease;
                    }
                }
            }
        }



        a {
            text-decoration: none;
            color: var(--text-inHeadFont);
            font-size: 20px;
        }

        #gridPresentations {
            display: grid;
            grid-template-columns: 2fr 5fr 2fr;
            margin: 25px;
        }


        .Box_Nom {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            grid-column: 2;
            gap: 100px;


            #container-louis-pic {

                &>#louis-pic {
                    max-width: 300px;
                    border-radius: 15px;
                    transition: filter 0.5s;
                }

                &:hover #louis-pic {
                    filter: blur(4px);
                }

                &>#button-img {
                    display: flex;
                    font-family: Arial, Helvetica, sans-serif;
                    opacity: 0;
                    position: relative;
                    top: -160px;
                    left: 60px;
                    transition: opacity 0.5s;
                    border-radius: 6px;
                    border: whitesmoke 1px solid;
                    font-size: 20px;
                    color: var(--text-inBoxfont);
                    background-color: var(--bgBox);
                    transition: background-color 0.5s, opacity 0.5s;

                    &:hover {

                        background-color: rgb(32, 160, 202);
                    }

                }

            }
        }

    }

    .labelsNom {
        display: flex;
        flex-direction: column;
        position: relative;

        #LouisPLabel {
            position: relative;
            font-size: 100px;
            margin-bottom: 15px;
            margin-top: 0;
            color: var(--simpleText);


        }

        #slogan_portefolio {
            position: relative;
            max-width: 350px;
            min-height: 90px;
        }

        //ajout de la barre de soulignement
        #LouisPLabel,
        #slogan_portefolio {
            &:hover::after {

                //position de la barre
                position: absolute;
                content: "";
                bottom: -5px;
                left: 0;
                margin: 0 5px 0 5px;
                width: 95%;

                //style de la barre
                min-height: 7px;
                background: var(--gradient-color1);

                //animation de la barre
                transform: scaleX(0) translateX(0);
                transform-origin: left;
                animation: PointToBar 0.7s ease;
            }


        }




    }



    #describ_Louis_label {
        margin: 0;
        font-size: 30px;
        color: var(--simpleText);

    }

    .subs-divisions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5%;
        max-width: 1000px;
        margin: 10% auto 0% auto;
    }

    .sub-division {
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 20px;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
        width: 400px;
        min-height: 100px;
        color: var(--text-inBoxfont);
        background-color: var(--bgBox);
        z-index: 0;
        transition: font-size 0.6s;

        &:hover {
            font-size: 24px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--gradient-color1);
            border-radius: 10px;
            //animation de la barre
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 400ms ease-in-out;
            z-index: -1;
        }

        &:hover::before {
            transform: scale(1);
        }


        .div-contact {
            display: flex;
            justify-content: space-between;

            img {
                width: 10%;

            }

        }

    }

    .box-skills {
        display: flex;
        flex-direction: column;
        margin: 0 20% 0 20%;
        font-size: 35px;
        text-align: center;
        z-index: 0;

        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-around;
            padding: 25px;
            flex-wrap: wrap;
            gap: 50px;
            background-color: rgb(34, 34, 34);
            border-radius: 20px;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: url('../images/code.gif');
                background-size: cover;
                filter: blur(4px);
                opacity: 0.2;
                z-index: 1;
            }


            .program_card {
                display: flex;
                align-items: center;
                width: 150px;
                height: 150px;
                z-index: 2;

                img {
                    width: 100%;
                    transition: transform 0.5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

            }

        }

    }




    //style complet du panel
    .overlay {
        z-index: 100;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.8);
    }

    .temp-panel {
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15%;
        bottom: 45%;
        margin: 0 20%;
        min-width: 60%;


        overflow-y: scroll;
        scrollbar-color: black darkviolet;

        color: var(--text-inBoxfont);
        background-color: var(--bgBox);
        border-radius: 15px;
        animation-name: slideIn;
        animation-duration: 0.5s;

        .container-title-img {
            display: flex;

            img {
                padding: 5px;
                margin-top: -4px;
                align-self: center;
                transition: transform 0.5s;

                &.animate {
                    animation: arrowHoverTitle 0.5s infinite;
                }
            }
        }

        .text-section-to-show {
            display: none;

        }

        .content-section {
            text-align: justify;
            padding: 40px;
            font-size: 20px
        }

        #image-retour {
            max-width: 25px;
            padding-top: 15px;
            padding-left: 15px;
        }


        @media (max-width : 1100px) {
            margin: 0 20px;
            min-width: 80%;
        }

        @media (max-height : 600px) {
            top: 20px;
            bottom: 20px;
        }


    }




}