@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

//pour le panel
@keyframes slideIn {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}

//pour le panel
@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1000px);
    }
}

//Animation de surlignement dynamique
@keyframes PointToBar {
    0% {
        transform: scaleX(0);
    }

    30% {
        transform: scaleX(1);
        opacity: 1;
        transform-origin: left;
    }

    31% {
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
        ;
    }
}



:root {
    --bg: whitesmoke;
    --text-inBoxfont: white;
    --text-inHeadFont: white;
    --simpleText: rgb(0, 0, 0);
    --bgBox: black;
    --gradient-color1: linear-gradient(to right, darkviolet, rgb(0, 191, 255));

    body {

        margin: 0;
        font-family: "League Spartan";
        background-color: var(--bg);
        color: var(--simpleText);

        header {
            position: sticky;
            color: var(--text-inHeadFont);
            background-color: var(--bgBox);

            &>nav>ul {

                list-style-type: none;
                margin: 0;
                padding: 10px;
                display: flex;
                justify-content: space-around;

                &>li {
                    position: relative;

                    &:hover {
                        color: rgb(0, 191, 255);
                        transition: 0.2s;
                    }

                    &:hover::after {

                        //position de la barre
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 100%;

                        //style de la barre
                        min-height: 4px;
                        background: var(--gradient-color1);

                        //animation de la barre
                        transform: scaleX(0) translateX(0);
                        transform-origin: left;
                        animation: PointToBar 0.7s ease;
                    }
                }
            }
        }



        a {
            text-decoration: none;
            color: var(--text-inHeadFont);
            font-size: 20px;
        }

        #gridPresentations {
            display: grid;
            grid-template-columns: 2fr 5fr 2fr;
            margin: 25px;
        }


        .Box_Nom {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            grid-column: 2;
        }

        .labelsNom {
            display: flex;
            flex-direction: column;
            transition: color 0.5s;
            text-align: center;
            align-self: center;

            &:hover {
                color: rgba(0, 0, 0, 0.532);
            }
        }

        #LouisPLabel {
            position: relative;
            font-size: 100px;
            margin-bottom: 15px;
            margin-top: 0;
            color: var(--simpleText);

            //ajout de la barre de soulignement
            &:hover::after {

                //position de la barre
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                margin: 0 5px 0 5px;
                width: 95%;

                //style de la barre
                min-height: 7px;
                background: var(--gradient-color1);

                //animation de la barre
                transform: scaleX(0) translateX(0);
                transform-origin: left;
                animation: PointToBar 0.7s ease;
            }
        }


        #describ_Louis_label {
            margin: 0;
            font-size: 30px;
            color: var(--simpleText);

        }

        #louis_Pic {

            display: flex;
            min-width: 300px;
            min-height: 300px;
            align-items: center;
            background-image: url("../images/louis_cadre.png");
            background-size: cover;
            transition: background-image 0.5s;
            text-decoration: none;

            &:hover {
                background-image: url("../images/louis_cadre2.png");
                transition: background-image 0.5s ease;
            }
        }

        #louis_Pic {
            height: 300px;
            border-radius: 10px;
        }

        .subs-divisions {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 5%;
            max-width: 1000px;
            margin: 10% auto 0% auto;
        }

        .sub-division {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            margin: 10px;
            padding: 15px;
            border-radius: 10px;
            border: 3px black solid;
            width: 400px;
            min-height: 100px;
            color: var(--text-inBoxfont);
            background-color: var(--bgBox);
            z-index: 0;
            transition: font-size 0.6s ease;

            &:hover {
                font-size: 21px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                background: var(--gradient-color1);
                //animation de la barre
                transform-origin: left;
                transform: scaleX(0);
                transition: transform 600ms ease-in-out, border-radius 300ms ease;
                z-index: -1;
            }

            &:hover::before {
                border-radius: 10px;
                transform: scale(1);

            }

        }


        .pres-languages {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 250px 25% 50px 25%;
            margin-left: 25%;
            margin-right: 25%;
            flex-wrap: wrap;
            gap: 50px;
        }



        //style complet du panel
        .overlay {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0, 0.8);
        }

        .temp-panel {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 25%;
            bottom: 25%;
            margin: 0 5%;
            overflow-y: scroll;
            scrollbar-color: darkviolet black;

            color: var(--text-inBoxfont);
            background-color: var(--bgBox);
            border-radius: 15px;
            animation-name: slideIn;
            animation-duration: 0.5s;

            &>content-panel {
                text-align: justify;
                margin: 5%;
                font-size: 35px
            }

            &>.collapse-section {
            background: none;
            font-family: "League Spartan";
            color: var(--text-inBoxfont);
            border: none;

                &:hover {
                    text-decoration: underline;
                }
                &>#image-retour {
                max-width: 25%;
                max-height: 25%
            }
            }
            
        }
    }


}