@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

//pour le panel
@keyframes slideIn {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}

//pour le panel
@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1000px);
    }
}

//Animation de surlignement dynamique
@keyframes PointToBar {
    0% {
        transform: scaleX(0);
    }

    30% {
        transform: scaleX(1);
        opacity: 1;
        transform-origin: left;
    }

    31% {
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
        ;
    }
}



:root {
    --bg: whitesmoke;
    --text-inBoxfont: white;
    --text-inHeadFont: white;
    --simpleText: rgb(0, 0, 0);
    --bgBox: black;
    --gradient-color1: linear-gradient(to right, darkviolet, rgb(0, 191, 255));

    body {

        transition: background-color 0.5s;
        margin: 0;
        font-family: "League Spartan";
        background-color: var(--bg);
        color: var(--simpleText);

        header {
            position: sticky;
            color: var(--text-inHeadFont);
            background-color: var(--bgBox);

            &>nav>ul {

                list-style-type: none;
                margin: 0;
                padding: 10px;
                display: flex;
                justify-content: space-around;

                &>li {
                    position: relative;

                    &:hover {
                        color: rgb(0, 191, 255);
                        transition: 0.2s;
                    }

                    &:hover::after {

                        //position de la barre
                        position: absolute;
                        content: "test";
                        bottom: 0;
                        left: 0;
                        width: 100%;

                        //style de la barre
                        min-height: 4px;
                        background: var(--gradient-color1);

                        //animation de la barre
                        transform: scaleX(0) translateX(0);
                        transform-origin: left;
                        animation: PointToBar 0.7s ease;
                    }
                }
            }
        }



        a {
            text-decoration: none;
            color: var(--text-inHeadFont);
            font-size: 20px;
        }

        #gridPresentations {
            display: grid;
            grid-template-columns: 2fr 5fr 2fr;
            margin: 25px;
        }


        .Box_Nom {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            grid-column: 2;
            gap: 100px;


            #container-louis-pic {

                &>#louis-pic {
                    max-width: 300px;
                    border-radius: 15px;
                    transition: filter 0.5s;
                }

                &:hover #louis-pic {
                    filter: blur(4px);
                }

                &>#button-img {
                    display: flex;
                    font-family: Arial, Helvetica, sans-serif;
                    opacity: 0;
                    position: relative;
                    top: -160px;
                    left: 60px;
                    transition: opacity 0.5s;
                    border-radius: 6px;
                    border: whitesmoke 1px solid;
                    font-size: 20px;
                    color: var(--text-inBoxfont);
                    background-color: var(--bgBox);
                    transition: background-color 0.5s, opacity 0.5s;

                    &:hover {

                        background-color: rgb(32, 160, 202);
                    }

                }

            }
        }

    }

    .labelsNom {
        display: flex;
        flex-direction: column;
        transition: color 0.5s;
        text-align: center;
        align-self: center;

        &:hover {
            color: rgba(0, 0, 0, 0.532);
        }
    }

    #LouisPLabel {
        position: relative;
        font-size: 100px;
        margin-bottom: 15px;
        margin-top: 0;
        color: var(--simpleText);

        //ajout de la barre de soulignement
        &:hover::after {

            //position de la barre
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            margin: 0 5px 0 5px;
            width: 95%;

            //style de la barre
            min-height: 7px;
            background: var(--gradient-color1);

            //animation de la barre
            transform: scaleX(0) translateX(0);
            transform-origin: left;
            animation: PointToBar 0.7s ease;
        }
    }


    #describ_Louis_label {
        margin: 0;
        font-size: 30px;
        color: var(--simpleText);

    }

    .subs-divisions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5%;
        max-width: 1000px;
        margin: 10% auto 0% auto;
    }

    .sub-division {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
        border: 3px black solid;
        width: 400px;
        min-height: 100px;
        color: var(--text-inBoxfont);
        background-color: var(--bgBox);
        z-index: 0;
        transition: font-size 0.6s ease;

        &:hover {
            font-size: 21px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--gradient-color1);
            border-radius: 10px;
            //animation de la barre
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 400ms ease-in-out;
            z-index: -1;
        }

        &:hover::before {
            transform: scale(1);
        }


        .div-contact {
            display: flex;
            justify-content: space-between;

            img {
                width: 10%;

            }

        }

    }

    .box-languages {
        display: flex;
        flex-direction: column;
        margin: 0 20% 0 20%;
        font-size: 35px;
        text-align: center;

        .cards-container {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            flex-wrap: wrap;
            gap: 50px;
            border: 1px violet solid;

            .program_card {
                display: flex;
                align-items: center;
                border: red 1px solid;
                width: 150px;
                height: 150px;

                img {
                    border: blue solid 1px;
                    width:100%;
                }
                &:hover::after{
                    position: absolute;
                    background-color: yellow;
                    content : 'Kotlin/Java';
                    
                    
                    width: 150px;
                    height: 150px;
                    opacity: 1;
                }
            }
            
        }
        
    }




    //style complet du panel
    .overlay {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.8);
    }

    .temp-panel {
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25%;
        bottom: 25%;
        margin: 0 20%;

        @media (max-width : 1100px) {
            margin: 0 20px;
        }

        @media (max-height : 600px) {
            top: 20px;
            bottom: 20px;
        }

        overflow-y: scroll;
        scrollbar-color: darkviolet black;

        color: var(--text-inBoxfont);
        background-color: var(--bgBox);
        border-radius: 15px;
        animation-name: slideIn;
        animation-duration: 0.5s;

        &>.content-section {
            text-align: justify;
            padding: 20px;
            font-size: 20px
        }

        #image-retour {
            max-width: 25px;
            padding-top: 15px;
            padding-left: 15px;
        }

    }




}