@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

//pour le panel
@keyframes slideIn {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}

//pour le panel
@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1000px);
    }
}

//Animation de surlignement dynamique
@keyframes PointToBar {
    0% {
        transform: scaleX(0);
    }

    30% {
        transform: scaleX(1);
        opacity: 1;
        transform-origin: left;
    }

    31% {
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
        ;
    }
}

@keyframes arrowHoverTitle {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(5px);
    }
}

@keyframes arrowHoverTitleReverse {
    0% {

        transform: translateY(5px) rotate(180deg);
    }

    100% {
        transform: translateY(0px) rotate(180deg);
    }
}

:root {
    --bg: whitesmoke;
    --text-in-box: white;
    --text-in-header: white;
    --simple-text: rgb(0, 0, 0);
    --bg-box: black;
    --gradient-color1: linear-gradient(to right, darkviolet, rgb(0, 191, 255));
    --gradient-color2: linear-gradient(160deg, var(--bg-box), rgb(68, 0, 97), rgb(0, 73, 95));
    --hover-color1: rgb(0, 191, 255);
    $phone-and-smalls-screens: 700px;
    $smalls-phones: 400px;

    body {
        transition: background-color 0.5s;
        margin: 0;
        font-family: "League Spartan";
        background-color: var(--bg);
        color: var(--simple-text);

        header {
            color: var(--text-in-header);
            background-color: var(--bg-box);

            &>nav>ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-around;
                gap: 5px;

                &>li {
                    position: relative;
                    text-decoration: dotted;
                    text-align: center;
                    padding: 10px;
                    line-height: 1;

                    @media (max-width: $phone-and-smalls-screens) {
                        padding: 5px;
                        font-size: 13px;
                    }

                    @media (max-width: $smalls-phones) {
                        padding: 2px;
                        font-size: 10px;
                        line-height: 0.7;
                    }

                    #icon-color-mode {
                        @media (max-width: $phone-and-smalls-screens) {
                            transform: scale(0.8);
                        }

                        @media (max-width: $smalls-phones) {
                            transform: scale(0.6);
                        }
                    }

                    &:hover {
                        color: var(--hover-color1);
                        transition: 0.2s;
                    }

                    &:hover::after {
                        //position de la barre
                        position: absolute;
                        content: "";
                        bottom: 10px;
                        left: 0;
                        width: 100%;

                        //style de la barre
                        min-height: 4px;
                        background: var(--gradient-color1);

                        //animation de la barre
                        transform: scaleX(0) translateX(0);
                        transform-origin: left;
                        animation: PointToBar 0.7s ease;
                    }
                }
            }
        }

        a {
            text-decoration: none;
            color: var(--text-in-header);
            font-size: 20px;
        }

        u:hover {
            color: rgb(105, 105, 105);
        }

        #grid-presentation {
            display: grid;
            grid-template-columns: 2fr 5fr 2fr;
            margin: 25px;

            @media (max-width:$phone-and-smalls-screens) {
                grid-template-columns: 0fr 10fr 0fr;
            }

            @media (max-width:$smalls-phones) {
                margin: 10px
            }
        }

        .box-nom {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            grid-column: 2;
            gap: 100px;

            @media (max-width:$phone-and-smalls-screens) {
                gap: 10px;
            }

            .labels-nom {
                display: flex;
                flex-direction: column;
                position: relative;

                #louis-p-label {
                    position: relative;
                    font-size: 100px;

                    @media (max-width: $phone-and-smalls-screens) {
                        font-size: 70px;
                    }

                    @media (max-width: $smalls-phones) {
                        font-size: 50px;
                    }

                    margin-bottom: 15px;
                    margin-top: 0;
                    color: var(--simple-text);
                }

                #slogan-portfolio {
                    position: relative;
                    font-size: 30px;

                    @media (max-width: $phone-and-smalls-screens) {
                        font-size: 20px;
                    }

                    @media (max-width: $smalls-phones) {
                        font-size: 15px;
                    }

                    max-width: 350px;
                    min-height: 90px;
                }

                //ajout de la barre de soulignement
                #louis-p-label,
                #slogan-portfolio {
                    &:hover::after {
                        //position de la barre
                        position: absolute;
                        content: "";
                        bottom: -5px;
                        left: 0;
                        margin: 0 5px 0 5px;
                        width: 95%;
                        //style de la barre
                        min-height: 7px;
                        background: var(--gradient-color1);

                        @media(max-width: $phone-and-smalls-screens) {
                            min-height: 5px;
                        }

                        //animation de la barre
                        transform: scaleX(0) translateX(0);
                        transform-origin: left;
                        animation: PointToBar 0.7s ease;
                    }
                }

                #slogan-portfolio {
                    &:hover::after {
                        @media(max-width: $phone-and-smalls-screens) {
                            bottom: 30px;
                        }

                        @media(max-width: $smalls-phones) {
                            bottom: 50px;
                        }
                    }
                }
            }

            #container-louis-pic {

                &>#louis-pic {
                    max-width: 300px;

                    @media(max-width: $phone-and-smalls-screens) {
                        max-width: 180px;
                    }

                    @media(max-width: $smalls-phones) {
                        max-width: 150px;
                    }

                    border-radius: 15px;
                    transition: filter 0.5s;
                }

                &:hover #louis-pic {
                    filter: blur(4px);
                }

                >#button-img {
                    display: flex;
                    font-family: Arial, Helvetica, sans-serif;
                    opacity: 0;
                    position: relative;
                    top: -160px;
                    left: 55px;
                    transition: opacity 0.5s;
                    border-radius: 6px;
                    border: whitesmoke 1px solid;
                    font-size: 20px;
                    color: var(--text-in-box);
                    background-color: var(--bg-box);
                    transition: background-color 0.5s, opacity 0.5s;

                    @media (max-width: $phone-and-smalls-screens) {
                        top: -100px;
                        left: 15px;
                        font-size: 15px;
                    }

                    @media (max-width: $smalls-phones) {
                        top: -85px;
                        left: 15px;
                        font-size: 12px;
                    }

                    &:hover {

                        background-color: rgb(32, 160, 202);
                    }
                }
            }
        }
    }

    .subs-divisions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5%;
        max-width: 1000px;
        margin: 5% auto 0%;

    }

    .sub-division {
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 20px;
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
        width: 400px;
        min-height: 100px;
        color: var(--text-in-box);
        background-color: var(--bg-box);
        z-index: 0;
        transition: font-size 0.6s;

        @media (max-width:$phone-and-smalls-screens) {
            min-height: 80px;
            font-size: 18px;
        }

        @media (max-width:$smalls-phones) {
            min-height: 60px;
            font-size: 16px;
        }

        &:hover {
            font-size: 24px;

            @media (max-width:$phone-and-smalls-screens) {
                font-size: 20px;
            }

            @media (max-width:$smalls-phones) {
                font-size: 18px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--gradient-color1);
            border-radius: 10px;
            //animation de la barre
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 400ms ease-in-out;
            z-index: -1;
        }

        &:hover::before {
            transform: scale(1);
        }
    }

    .box-skills {
        display: flex;
        flex-direction: column;
        margin: 0 20% 0 20%;
        font-size: 35px;
        text-align: center;
        z-index: 0;

        @media (max-width:$phone-and-smalls-screens) {
            margin: 0 5% 0 5%;
            font-size: 20px;
        }

        @media (max-width:$smalls-phones) {
            font-size: 18px;
        }

        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-around;
            padding: 25px;
            flex-wrap: wrap;
            gap: 50px;
            background-color: rgb(34, 34, 34);
            border-radius: 20px;
            background: var(--gradient-color2);

            @media (max-width:$phone-and-smalls-screens) {
                padding: 5px;
                gap: 15px;
                border-radius: 10px;
            }

            .program-card {
                display: flex;
                align-items: center;
                width: 130px;
                height: 130px;

                //Les cartes sont déjà trop grosses à 900px de width.
                @media (max-width:($phone-and-smalls-screens+200px)) {
                    width: 75px;
                    height: 75px;
                }

                @media (max-width:$smalls-phones) {
                    width: 60px;
                    height: 60px;
                }

                img {
                    width: 100%;

                    transition: transform 0.5s;

                    &:hover {
                        transform: scale(1.2);

                        @media (max-width:$phone-and-smalls-screens) {
                            transform: scale(1.08);
                        }
                    }
                }
            }
        }
    }

    //style complet du panel
    .overlay {
        z-index: 100;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.8);
    }

    .temp-panel {
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15%;
        bottom: 45%;
        margin: 0 20%;
        min-width: 60%;
        overflow-y: scroll;
        scrollbar-color: black darkviolet;
        color: var(--text-in-box);
        background-color: var(--bg-box);
        border-radius: 15px;
        animation-name: slideIn;
        animation-duration: 0.5s;

        .container-title-img {
            display: flex;
            font-size: 19px;

            @media (max-width: $phone-and-smalls-screens) {
                font-size: 16px;
            }

            @media (max-width: $smalls-phones) {
                font-size: 14px;
            }

            img {
                padding: 5px;
                margin-top: -4px;
                align-self: center;
                transition: transform 0.5s;
            }
        }

        video {
            @media (max-width: $phone-and-smalls-screens) {
                max-width: 330px;
            }

            @media (max-width: $smalls-phones) {
                max-width: 270px;
            }
        }

        .explain-video {
            font-size: 17px;
        }

        .text-section-to-show {
            display: none;

            >.close-section {
                background-color: #20b4a8;
                font-family: "League Spartan";
                font-size: 18px;
                border-radius: 5px;
                min-height: 25px;
                border: none;

                &:hover {
                    background-color: #26d8c9;
                }
            }
        }

        .content-section {
            text-align: justify;
            line-height: 1.5;
            padding: 0 40px 0 40px;
            font-size: 20px;

            @media (max-width: $phone-and-smalls-screens) {
                padding: 0 20px 0 20px;
                font-size: 15px;
            }

            @media (max-width: $smalls-phones) {
                padding: 0 15px 0 15px;
                font-size: 12px;
            }
        }

        #image-retour {
            max-width: 25px;
            padding-top: 25px;
            padding-left: 15px;

            @media (max-width: $phone-and-smalls-screens) {
                max-width: 20px;
            }

            @media (max-width: $smalls-phones) {
                max-width: 15px;
            }
        }

        .div-contact {
            display: flex;

            >span {
                vertical-align: middle;
            }

            img {
                width: 40%;
            }
        }

        //Gérer la taille du panel selon la taille de l'écran pchone-and-smalls-screens
        @media (max-width : 1100px) {
            margin: 0 20px;
            min-width: 96%;
        }

        @media (max-width : 900px) {
            margin: 0 20px;
            min-width: 80%;
        }

        @media (max-height : 800px) {
            top: 20px;
            bottom: 20px;
        }
    }

    footer {
        display: flex;
        justify-content: space-around;
        background-color: var(--bg-box);
        margin-top: 20px;

        @media (max-width: $phone-and-smalls-screens) {

            a,
            * {
                font-size: 14px;
            }
        }

        @media (max-width: $smalls-phones) {

            a,
            * {
                font-size: 10px;
            }
        }

        color: var(--text-in-box);
    }
}